---
layout: default
---

<div class="post">

  <header class="post-header">
    <h1 class="post-title">
      {% if site.title == "blank" %}{{ site.title }}{% else %}<span class="font-weight-bold">{{ site.first_name
        }}</span> {{ site.middle_name }} {{ site.last_name }}{% endif %}
    </h1>
    <p class="desc">{{ page.description }}</p>
  </header>

  <article>
    {% if page.profile %}
    <div class="profile float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %}">
      <div class="profile-image-container">
        <img class="img-fluid rounded profile-pic" src="/assets/img/profile_pic.png" srcset="/assets/img/profile_pic.png 323w">
        <img class="img-fluid rounded profile-pic-hover" src="/assets/img/profile_pic_old.jpg" srcset="/assets/img/profile_pic_old.jpg 323w">
      </div>
      {% if page.profile.address %}
      <div class="address">
        {{ page.profile.address }}
      </div>
      {% endif %}
    </div>
    {% endif %}

    <div class="clearfix">
      {{ content }}
    </div>

    {% if page.news %}
    {% include news.html %}
    {% endif %}

    {% if page.selected_papers %}
    {% include selected_papers.html %}
    {% endif %}

    {% if page.social %}
    <div class="social">
      <div class="contact-icons">
        {% include social.html %}
      </div>
      <div class="contact-note">{{ site.contact_note }}</div>
    </div>
    {% endif %}
  </article>

</div>

<style>
  /* CSS for the profile image hover effect */
  .profile-image-container {
    position: relative;
    display: inline-block;
  }
  
  .profile-pic, .profile-pic-hover {
    display: block;
    width: 100%;
    transition: opacity 0.3s ease;
  }
  
  .profile-pic-hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
  
  .profile-image-container:hover .profile-pic {
    opacity: 0;
  }
  
  .profile-image-container:hover .profile-pic-hover {
    opacity: 1;
  }
</style>